// << ШРИФТЫ >>========================================================================================================================================================

	// < Подключение шрифтов >=========================================================================================================================================

	

	// < Подключение шрифтов >=========================================================================================================================================

	// < Шрифт по умолчанию >==========================================================================================================================================
	$fontfamily: '';
	// < Шрифт по умолчанию >==========================================================================================================================================

// << ШРИФТЫ >>========================================================================================================================================================

// << ПЕРМЕННЫЕ >>=====================================================================================================================================================

$minwidth: 320px;
$mv: 1170;
$md1: $mv + 15;
$md2: 992;
$md3: 768;
$md4: 480;

// << ПЕРМЕННЫЕ >>=====================================================================================================================================================

// << ОБОЛОЧКА >>======================================================================================================================================================

.wrapper {}
	// < Основная сетка >==============================================================================================================================================
	.container {max-width: $mv+px; margin: 0px auto; padding: 0px 15px;
		@media (max-width: $md1+px) {max-width: 970px;}
		@media (max-width: $md2+px) {max-width: 750px;}
		@media (max-width: $md3+px) {max-width: none; padding: 0px 15px;}
	}
	// < Основная сетка >==============================================================================================================================================

// << ОБОЛОЧКА >>======================================================================================================================================================

// << ОБНУЛЕНИЕ ПАРАМЕТРОВ БРАУЗЕРА >>=================================================================================================================================

@import '_normalize';

// << ОБНУЛЕНИЕ ПАРАМЕТРОВ БРАУЗЕРА >>=================================================================================================================================


// << СТИЛИ ПОСТОЯННЫХ БЛОКОВ >>=======================================================================================================================================

@import '_header';
@import '_footer';

// << СТИЛИ ПОСТОЯННЫХ БЛОКОВ >>=======================================================================================================================================

// << ОСНОВНАЯ ЧАСТЬ >>================================================================================================================================================
	// < название блока >==============================================================================================================================================



	// < название блока >==============================================================================================================================================



	// < название блока >==============================================================================================================================================
// << ОСНОВНАЯ ЧАСТЬ >>================================================================================================================================================