// << ШРИФТЫ >>========================================================================================================================================================

	// < Подключение шрифтов >=========================================================================================================================================

	@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

	// < Подключение шрифтов >=========================================================================================================================================

	// < Шрифт по умолчанию >==========================================================================================================================================
	$fontfamily: 'Press Start 2P', cursive;
	// < Шрифт по умолчанию >==========================================================================================================================================

// << ШРИФТЫ >>========================================================================================================================================================

// << ПЕРМЕННЫЕ >>=====================================================================================================================================================

$minwidth: 320px;
$mv: 1110;
$md1: $mv + 15;
$md2: 992;
$md3: 768;
$md4: 480;

// << ПЕРМЕННЫЕ >>=====================================================================================================================================================

// << ОБОЛОЧКА >>======================================================================================================================================================

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
	// < Основная сетка >==============================================================================================================================================
	.container {max-width: $mv+px; margin: 0px auto; padding: 0px 15px;
		@media (max-width: $md1+px) {max-width: 970px;}
		@media (max-width: $md2+px) {max-width: 750px;}
		@media (max-width: $md3+px) {max-width: none; padding: 0px 15px;}
	}
	// < Основная сетка >==============================================================================================================================================

// << ОБОЛОЧКА >>======================================================================================================================================================

// << ОБНУЛЕНИЕ ПАРАМЕТРОВ БРАУЗЕРА >>=================================================================================================================================

@import '_normalize';

// << ОБНУЛЕНИЕ ПАРАМЕТРОВ БРАУЗЕРА >>=================================================================================================================================


// << СТИЛИ ПОСТОЯННЫХ БЛОКОВ >>=======================================================================================================================================

@import '_header';
@import '_footer';

// << СТИЛИ ПОСТОЯННЫХ БЛОКОВ >>=======================================================================================================================================

// << ОСНОВНАЯ ЧАСТЬ >>================================================================================================================================================
	// < название блока >==============================================================================================================================================

.ground {
	border: 1px solid #000;;
	background-color: #f9f9f9;
	margin: auto;
}

.info {
	margin: 20px auto;
	display: flex;
	&__current-score {
		font-size: 30px;
		margin-right: 50px;
	}
	&__best-score {
		font-size: 30px;
	}
}

.play {
	position: relative;
	margin: auto;
	max-width: 802px;

	&__menu {
		opacity: 1;
		background-color: rgba(61, 102, 14, 0.9);
		position: absolute;
		top: 0;
		left: 0;
		width: 802px;
		height: 802px;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__menu.inplay {
		transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
		top: -120%;
		opacity: 0;
	}

	&__button {
		color: #fff;
		font-size: 30px;
		padding: 30px;
		border: 3px solid #fff;
		border-radius: 20px;
		cursor: pointer;
	}
}

.lose {
	top: -200%;
	display: none;

	&.inlose{
		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		flex-direction: column;
		align-items: center;

		width: 802px;
		height: 802px;

		background-color: rgba(0, 40, 10, 0.7);
	}
	

	&__title {
		color: #fff;
		text-align: center;
		font-size: 40px;
		letter-spacing: 10px;
		margin: 100px 0;
	}

	&__button {
		color: #fff;
		font-size: 30px;
		padding: 30px;
		border: 3px solid #fff;
		border-radius: 20px;
		cursor: pointer
	}
}

	// < название блока >==============================================================================================================================================



	// < название блока >==============================================================================================================================================
// << ОСНОВНАЯ ЧАСТЬ >>================================================================================================================================================